<body>
    <img src="./assets/banco.png" alt="banco" class="banco">
    <div class=" container divForm">
        <div class="divCard">
            <div class="card">
                <form>
                    <div class="mb-5">
                        <label for="exampleInputEmail1" class="form-label">Valor</label>
                        <input type="text" class="form-control-lg ms-4 fm" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                            <img  class="dinheiro" src="./assets/02-24.png">
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label">Conta</label>
                        <input type="text" class="form-control-lg ms-3 fm" id="exampleInputPassword1">
                        <img class="conta" src="./assets/conta.png">
                    </div>
                    <button type="submit" class=" btn btn-lg"> Transferir </button>
                </form>
            </div>
        </div>
    </div>
</body>