@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');



.site{
    font-size: 70px;
    color: white;
    text-align: center;
    margin-top: 10rem;
    text-decoration: underline 5px;
}


.card {
    align-items: center;
    max-width: 35rem;
    height: 27rem;
    padding-top: 30px;
    margin: 0 auto;
    margin-top: 4rem;
    box-shadow: rgba(2, 235, 2, 0.35) 1px 1px 100px 15px;

}

h3{ 
    margin-right:20px;
    margin-bottom: 3rem;  
    background: -webkit-linear-gradient(rgb(1, 141, 43), rgb(1, 107, 27));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(1, 141, 43);

}

input {
    margin-bottom:20px;
    background: linear-gradient( to right, green, black);
    color: white;
    
}




button {
    width: 30rem;
    margin-top: 4rem;
    background: linear-gradient( to right, green, black);
    color:white;
    border: 0;
}

button:hover{ 
    background: linear-gradient( to right, rgb(0, 0, 0), green);
    color:rgb(255, 255, 255);
    box-shadow: 10px 10px 5px #aaaaaa;

}
