<body>
    <img src="./assets/banco.png" alt="banco" class="banco">
    <div class=" container divForm">
        <div class="divCard">
            <div class="card">
                <form>
                    <div class="formg">
                        <img class="dinheiro" src="./assets/02-24.png">
                        <label class="#">Valor</label>
                        <input type="text" class="form-control-lg">
                    </div>
                    <div class="formg">
                        <img class="conta" src="./assets/conta.png">
                        <label class="#" >Destino</label>
                        <input type="text" class="form-control-lg">
                    </div>
                    <button type="submit" class=" "> Transferir </button>
                </form>
            </div>
        </div>
    </div>
</body>