


.card {
    align-items: center;
    max-width: 32rem;
    height: 25rem;
    padding-top: 30px;
    margin: 0 auto;
    margin-top: 17rem;
    box-shadow: 10px 10px 5px #aaaaaa;

}

h1{ 
    text-align: center;
    margin-bottom: 3rem;  
    background: -webkit-linear-gradient(black, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

input{
    margin-bottom:20px;


}

button {
    width: 20rem;
    margin-top: 3rem;
    background: linear-gradient( to right, green, black);
    color:white;
    color:white;
    border: 0;
}

button:hover{ 
    background: linear-gradient( to right, rgb(0, 0, 0), green);
    color:rgb(255, 255, 255);
    box-shadow: 10px 10px 5px #aaaaaa;

}
