<div class=" container "> 
    <div class="card" style="height: 450px;width: 500px; margin-top: 20%; padding-top: 60px;">
        <div class="ps-5">
            <h1 class="mb-5 text-left">ByteBank</h1>
            <form>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Valor</label>
                <input type="email" class="form-control-lg ms-4" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Conta</label>
                <input type="password" class="form-control-lg ms-3" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary btn-lg mb-3 mt-5" >Submit</button>
            </form>
        </div>
    </div>
</div>